<!doctype html>
<html>
<head>
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
 <script src="http://firebase.github.io/angularFire/angularFire.js"></script>
  <script src="controller.js" type="text/javascript"></script>  
</head>
<body ng-app="myapp">
  <div ng-controller="MyCtrl">
  <p>
    Customers so far:
  </p>
  <table>
    <tbody ng-display="" ng-repeat="customer in items">
      <tr>
	<td>{{customer.firstname}}</td>
	<td>{{customer.lastname}}</td>
	<td><button ng-click="remove(customer)">X</button></td>
      </tr>
    </tbody>
  </table>
  <p>
    First Name: 
    <input ng-model="firstname"/>
  </p>
  <p>
    Last Name: 
    <input ng-model="lastname"/>
  </p>
  <button ng-click="addCustomer()" >Add Customer</button>
  </div>
</body>
</html>
