<!doctype html>
<html>
<head>
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script> 
 <script src="http://firebase.github.io/angularFire/angularFire.js"></script>
  <script src="controller.js" type="text/javascript"></script>  
</head>
<body ng-app="myapp">


  <div ng-controller="MyCtrl">
    <div ng-hide="userid" id="loginDiv">
      <a href="#" ng-click="login()" id="login">Login</a>
    </div>
    <div ng-show="userid" id="logoutDiv">
      <a href="#" ng-click="logout()" id="logout">Logout</a>
    </div>

    <div ng-show="userid">
      <h1>Registered customers</h1>
      <table class="table">
	<tbody ng-display="" ng-repeat="customer in users">
	  <tr>
	    <td>{{customer.firstname}}</td>
	    <td>{{customer.lastname}}</td>
	  </tr>
	</tbody>
      </table>
      <h2>Edit Your Name</h2>
      <table class="table">
	<tr>
	  <th>First Name</th>
	  <td><input ng-model="user.firstname"/></td>
	</tr>
	<tr>
	  <th>Last Name</th>
	  <td><input ng-model="user.lastname"/></td>
	</tr>
      </table>
    </div>
  </div>
</body>
</html>
